.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score {
  display: flex;
  align-items: center;
}

.score div {
  display: flex;
  padding: 0px;
}

.score div ion-icon {
  margin: 0 2px;
  padding: 0px;
  color:  #00A699;
  border-color: #00A699;
}

.score p{
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  margin-left: 12px;
}

.card-detail div h2 {
   color: #767676;
   font-weight: 400;
   font-size: 1.3em;
}
